.chat {
  height: 60vh;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 20px;
  padding-bottom: 100px;
}

/* @media (width < 500px){
  .chat {
    width: 90%;
  }
}
@media (width > 800px){
  .chat {
    width: 40%;
  } */
/* } */

.chat h1 {
  margin-bottom: 3px;
}
.chat-header {
  text-align: center;
}

.chat-scroll {
  height: 80%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat-user-chats {
  max-width: 400px;
  width: 60vw;
  display: flex;
  margin: 0 auto;
  border-radius: 10px;
  flex-direction: row;
  padding: 10px;
  padding-bottom: 5px;
  background-color: rgb(106, 145, 117);
  cursor: pointer;
}

.chat-last-msg {
  text-align: left;
  word-break: break-all;
}

.msg-container {
  position: relative;
  max-width: 400px;
  width: 60vw;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  word-break: break-all;
}

.msg-cnt-reciv {
  justify-content: flex-start;
}
.msg-cnt-self {
  justify-content: flex-end;
}

.msg-body {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  border-radius: 10px;
}

.msg-body p {
  margin: 5px 0;
  word-wrap: break-word;
  max-width: 60vw;
}

.msg-body-reciv {
  background: rgb(106, 145, 117);
  border-top-left-radius: 0;
}

.msg-body-self {
  background: rgb(106, 165, 123);
  border-top-right-radius: 0;
}

.chat-img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-right: 10px;
}

.msg-menu-button {
  color: black;
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
}

.chat-footer {
  /* display: flex;
  justify-content: center; */
  text-align: center;
  margin-top: 20px;
}

.chat-footer textarea {
  width: 100%;
  resize: none;
  border-radius: 10px;
}
.chat-footer button {
  margin: 10px;
  margin-bottom: 30px;
  width: 60px;
  height: 30px;
  padding: 2px;
}

.chat-back-button {
  width: 60px;
  height: 30px;
  padding: 2px;
  /* margin: auto;
  text-align: center; */
}
