.prf-side-menu {
  position: absolute;
  text-align: left;
  width: 220px;
  height: 300px;
}

.prf-side-back {
  position: absolute;
  height: 300px;
  left: 0;
}

.prf-back-left,
.prf-back-right {
  position: absolute;
  z-index: 2;
  height: 300px;
  background: hsl(66, 100%, 75%);
}
.prf-back-left {
  width: 1px;
  transform: scaleX(205);
  transform-origin: left;
  transition: 0.5s ease;
}
.prf-back-right {
  width: 15px;
  border-radius: 0 20px 20px 0;
  transform: translateX(204px);
  transition: 0.5s ease;
  box-shadow: 5px 0 5px hsla(0, 0%, 0%, 0.164);
}

.prf-side-hamb {
  width: fit-content;
  visibility: visible;
  transition: 0.25s ease-in-out;
  cursor: pointer;
  color: hsl(0, 0%, 0%);
}

.prf-side-content {
  z-index: 3;
  margin-left: 15px;
  margin-top: 20px;
  position: absolute;
  color: hsl(0, 0%, 47%);
}

.prf-side-menu p {
  cursor: pointer;
  font-size: 1.1rem;
}

.prf-side-active {
  font-weight: bold;
  color: hsl(201, 97%, 36%);
}

.prf-side-menu span {
  margin-right: 5px;
}

.prf-side-title {
  opacity: 1;
  transition: opacity 0.25s;
  transition-delay: 300ms;
  visibility: visible;
}

.prf-back-left-closed {
  transform: scaleX(40);
  transform-origin: left;
}

.prf-back-right-closed {
  transform: translateX(39px);
  box-shadow: none;
}

.prf-side-hamb-hide {
  visibility: visible;
}

.prf-side-title-closed {
  position: absolute;
  visibility: hidden;
  opacity: 0;
}
.prf-side-menu-closed {
  width: 50px;
}

.prf-block-top {
  padding-bottom: 52px;
}

.prf-pbl-top {
  margin-top: 20px;
  text-align: center;
}
