.main-navbar {
    display: flex; 
    justify-content: space-between; 
    margin: 10px; 
    background-color: aquamarine;
}

.main-navbar-links {
    display: flex; 
    justify-content: space-between;
}