.prd-search-range {
  align-items: center;
  margin: 0 auto;
  margin-top: 20px;
}
.prd-search-range > div {
  margin: 0 5px;
}

.prd-search-range input[type="range"] {
  padding: 0;
  margin: 10px;
}

.prd-search-range input[type="number"]::-webkit-inner-spin-button,
.prd-search-range input[type="number"]::-webkit-outer-spin-button {
  height: 30px;
}
