.main-navbar {
  position: sticky;
  z-index: 50;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: hsl(66, 100%, 75%);
}

.main-navbar-logo {
  padding: 0 20px;
  margin-right: auto;
}
.main-navbar-links {
  margin: 0 10px;
  text-align: center;
}

.main-navbar-profile {
  padding: 0 20px;
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}
