.main-navbar-links {
  margin: 0 10px;
  text-align: center;
}

.main-navbar-profile {
  padding: 0 20px;
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}
