.main-navbar {
  position: sticky;
  /* padding: 0 20px; */
  z-index: 50;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  /* padding: 0 30px; */
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  background-color: rgb(242, 255, 127);
}

.main-navbar-logo {
  /* margin-left: 20px; */
  padding: 0 20px;
  margin-right: auto;
}

.main-navbar-profile {
  padding: 0 20px;
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}
