a,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  margin: 0;
  font-family: "Lora", serif;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  width: 100%;
  text-align: center;
  overflow-x: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  font-family: "Lora", serif;
  color: #0377b5;
  text-decoration-line: underline;
  cursor: pointer;
  background: none;
  margin: 0px !important;
}

input,
select,
textarea {
  font: inherit;
  text-align: center;
  border: 1px solid hsl(0, 2%, 75%);
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  box-shadow: 0 0 3pt 1pt hsl(0, 0%, 0%);
}

.border {
  border-width: 1px;
  border-style: solid;
  border-color: #c1bebe;
}

.background {
  border-radius: 5px;
  background-color: #0000000a;
}

.home {
  text-align: center;
}

::-webkit-scrollbar-track {
  background-color: #f5f5f500;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #f5f5f500;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  width: 3px;
  border-radius: 10px;
  background-color: hsla(68, 7%, 45%, 0.753);
}

.flexbox-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.flexbox-column {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}
