.map {
  margin: 10px auto;
  padding: 20px;
  width: 80vw;
  height: 50vh;
  border: 1px solid #ddd;
  border-radius: 15px;
}

.map-marker {
  width: 30px;
  height: 30px;
}

.map-cluster-marker {
  color: hsl(0, 0%, 100%);
  background: hsl(41, 82%, 51%);
  border-radius: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mapboxgl-popup-close-button {
  color: black;
  transform: translateY(-10px);
}

.mapboxgl-popup-content {
  border-radius: 15px !important;
  max-width: 200px;
  text-align: center;
}

.popup-content-user-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.popup-content {
  word-wrap: break-word;
}

@media screen and (max-width: 600px) {
  .mapboxgl-popup-content {
    max-width: 150px;
  }
}
