.auth-inputs > input,
select {
  margin: 3px 0;
  width: 80%;
  box-sizing: border-box;
}

.auth-inputs .mapboxgl-ctrl-geocoder {
  margin: 3px auto;
}

.fade-enter {
  opacity: 0;
}
.fade-exit {
  opacity: 1;
}
.fade-enter-active {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
}
.fade-enter-active,
.fade-exit-active {
  transition: opacity 500ms;
}
