.menu-container {
  position: relative;
}

.menu {
  background: #929292be;
  border-radius: 5px;
  position: absolute;
  top: 15px;
  right: 20px;
  padding: 0 5px;
  width: max-content;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}

.menu-active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.menu-elements {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.menu-elements > a {
  padding: 10px 0;
  color: white;
}
