.tabs-menu {
  margin-top: 20px;
  color: hsl(0, 0%, 33%);
}

.tabs-menu hr {
  width: 80%;
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}

.tabs-container {
  display: flex;
  width: 80%;
  flex-direction: row;
  justify-content: center;
  margin: 10px auto;
}

.tabs-menu div {
  padding: 0 20px;
  cursor: pointer;
  transition: 0.25s;
}

.tabs-menu-active {
  font-weight: bold;
}
