.upload-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.upload-image form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.upload-image input {
  margin: 10px auto;
  text-align: center;
  word-wrap: break-word;
  width: 100%;
}

/* .upload-image input[type="file"] {
  border: 1px solid rgb(194, 191, 191);
  padding: 5px;
} */

.upload-image ::-webkit-file-upload-button {
  background: hsl(16, 100%, 50%);
  outline: none;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.upload-image a {
  padding: 5px 0;
  width: fit-content;
  margin: 0 auto;
}

.upload-image-buttons button {
  margin: 10px;
  min-width: 40px;
  width: 100px;
  /* margin: 10px auto; */
}

.upload-image-thumbs-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: center;
}

.upload-image-thumb {
  display: inline-flex;
  border-radius: 5px;
  border: 1px solid #c1bebe;
  margin-bottom: 8px;
  margin-right: 8px;
  width: 100px;
  height: 100px;
  padding: 4px;
  box-sizing: border-box;
}

.upload-image-thumb-inner {
  display: flex;
  margin: auto 0;
  overflow: hidden;
  height: 100px;
  width: 100px;
}

.upload-image-thumb-inner img {
  display: block;
  max-width: 90%;
  max-height: 90%;
  margin: 0 auto;
  border-radius: 5px;
  /* margin-top: 1%; */

  /* height: auto; */
  /* height: 100%; */
}

.upload-image ul {
  text-align: start;
}
